{# empty Twig template #}

{% extends 'head_Template.html.twig' %}

{% block color %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {% if app.user.roles[0] == "ROLE_BUSINESS"  %}
           <link href="{{asset('bundles/hub/css/skins/pink.css')}}" rel="stylesheet">
        {% elseif app.user.roles[0] == "ROLE_PROFESSIONAL"  %}
            <link href="{{asset('bundles/hub/css/skins/orange.css')}}" rel="stylesheet">
        {% elseif app.user.roles[0] == "ROLE_USER" %}   
            <link href="{{asset('bundles/hub/css/skins/blue.css')}}" rel="stylesheet">
        {% else %}
            <link href="{{asset('bundles/hub/css/skins/red.css')}}" rel="stylesheet">
        {% endif %}    
    {% endif %}
{% endblock %}

{% block content %}
    <section class="main-container">

				<div class="container">
					<div class="row">

						<!-- main start -->
						<!-- ================ -->
						<div class="main col-md-12">

							<!-- page-title start -->
							<!-- ================ -->
							<h1 class="page-title">Business</h1>
							<div class="separator-2"></div>
							<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas nulla suscipit <br class="hidden-sm hidden-xs"> unde rerum mollitia dolorum.</p>
							<!-- page-title end -->
                                                        {% for b in business %}

                                                                <div class="col-md-4 col-sm-6 isotope-item web-design">
									<div class="image-box">
										<div class="overlay-container">
											<img src="{{asset("bundles/hub/perfil/" ~ b.getUser().getPerfilphoto() )}}" alt="">
											<div class="overlay">
												<div class="overlay-links">
													<a href="{{path('hub_show_business', {'user': b.getUser().getUser()})}}"><i class="fa fa-link"></i></a>
													<a href="{{asset("bundles/hub/perfil/" ~ b.getUser().getPerfilphoto() )}}" class="popup-img"><i class="fa fa-search-plus"></i></a>
												</div>
												<span>Show Profile</span>
											</div>
										</div>
										<div class="image-box-body">
											<h3 class="title"><a  href="{{path('hub_show_business', {'user': b.getUser().getUser()})}}">{{b.getName() }}</a></h3>
											<p>{{b.getPresentation()}}</p>
											<a  href="{{path('hub_show_business', {'user': b.getUser().getUser()})}}"class="link"><span>Read More</span></a>
										</div>
									</div>
								</div>
							{% endfor %}	
                                                        
						<!-- main end -->

					</div>
                                                <div class="main col-md-12">
                                                   
                                                    {% if page > 1 %}
                                                        <a href="{{path("hub_list_business",{'page':page - 1})}}" class="btn btn-group btn-default btn-sm">PREVIOUS</a>
                                                    {% endif %}
                                                    
                                                    {% if page < pages %}
                                                       <a href="{{path("hub_list_business",{'page':page + 1})}}" class="btn btn-group btn-default btn-sm">NEXT</a>  
                                                    {% endif %}
                                                </div>          
				</div>
                                                </div>
			</section>
			<!-- main-container end -->
{% endblock %}